HTTP/QUIC supports server push as described in [RFC7540], except where it doesn't

In the process of discussing some design for HTTP/QUIC PUSH_PROMISE, I was reminded that promised requests must fit within certain criteria. I thought this was defined in the HTTP mapping but it is actually referenced back to RFC7540 section 8.2. There is nothing inherently wrong with that. (for the curious, the text I wanted says "Promised requests MUST be cacheable (see [RFC7231], Section 4.2.3),  MUST be safe (see [RFC7231], Section 4.2.1), and MUST NOT include a request body.")

However, having read HTTP/QUIC section 3.4 again it comes across as a bit awkward (hence the annoying issue title). 

I think this is just an editorial issue to reword and/or restructure the section a little.
