Clarification for asymmetric links (return congestion, as well as limit to throughput)

I promised to raise an issue relating to this text:
"It can also improve connection throughput on severely asymmetric links; see Section 3 of [RFC3449]."

This partly addresss the case, but it does not yet note the implications of the return path traffic on congestion of the return path. I think this is a useful addition, because it helps alert the reader of the tradeoff ... which can be quite important for half-duplex/shared radio, etc where the spectrum consumed sending an ACK can even outweigh the cost of sending a data packet (because they use different design of PHY).

I suggest:
"It can improve connection throughput using severely asymmetric links and can also reduce the volume of acknowledgment traffic using return path capacity; see Section 3 of [RFC3449]."
