H3 guidance on malformed request/response is light

This issues arises from some off-list discussion on how to build up a header list, and who is responsible for validating the result. The conclusion is that the application is responsible for doing so.

In HTTP/2, RFC 7540 section 8.1.2.6 explains how an endpoint should handle malformed requests or responses. There is no explicit link to this in H3, only implicitly via references to topics in 8.1.2.*. However, I think some of that guidance is not applicable: the one that sticks out is this:

> A request or response is also malformed
   if the value of a content-length header field does not equal the sum
   of the DATA frame payload lengths that form the body.

Some further info. In H2, malformed request/response causes a stream error of type PROTOCOL_ERROR. The H3 draft says:

> PROTOCOL_ERROR (0x1):
    No single mapping. See new HTTP_MALFORMED_FRAME error codes defined in Section 8.1.

But errors in this category are not caused by a problem with the frames themselves. 

Fortunately, we have H3 HTTP_GENERAL_PROTOCOL_ERROR, which seems like the correct thing to use in this case. But nowhere in the draft is this ever referred to, so its easy to miss.

FRAME related errors are defined at the end of S8.1. 
However that is going to change due to #2253 
 
```
HTTP_MALFORMED_FRAME (0x01XX):
An error in a specific frame type. The frame type is included as the last byte of the error code. For example, an error in a MAX_PUSH_ID frame would be indicated with the code (0x10D).
```

Nice catch!

I think I'd prefer using HTTP_GENERAL_PROTOCOL_ERROR or an error code just for this purpose rather than HTTP_MALFORMED_FRAME, because this is a framing error in the HTTP semantic layer, rather than an error in a HTTP/3 frame. The issue with using HTTP_MALFORMED_FRAME becomes most apparent when the request body is shorter than the sum of DATA frames, and if there is a trailer, the error will be detected when seeing the HEADERS frame. It would be strange to report the issue as HTTP_MALFORMED_FRAME(HEADERS) (because it's not an issue with the HEADERS frame), or as HTTP_MALFORMED_FRAME(DATA) (because none of the DATA frames that the client sent was malformed.

PS. and my preference goes to having an error code just for this purpose, named as HTTP_RESPONSE_CANCELLED, or something similar.

As a reverse proxy developer, whenever the upstream server closes the response abruptly, I try to forward that error to the client. H2 does not have an error code for that, and we use PROTOCOL_ERROR for that. But the error code misses the fact that the error happened elsewhere than between the client and the server that is using H2, which _is_ confusing.

@LPardue 
> Another error that we saw a lot in the early days of H2 deployment was headers fields using mixed-case capitalization. This cannot be attributed to a malformed H3 frame.
> 
> I really hope this class of error has been shaken out of systems by now but you never know.

Agreed. I think using HTTP_GENERAL_PROTOCOL_ERROR as a catch-all error code when the peer does something stupid makes sense. After all, that's what we did in H2 and IMO it works well.

I think this falls under the umbrella of making sure RFC7540 content is referenced / restated appropriately in an H3 world.

Maybe it's worth noting that HTTP_GENERAL_PROTOCOL_ERROR is the error that a proxy is expected to send when upstream resets a HTTP message (e.g., h1 connection being closed in middle of a T-E chunk, receiving RST_STREAM on a h2 stream). We could have an error code dedicated to that, but H2 has not had one and therefore I do not think there's a strong necessity to have a dedicated codepoint.

Discussed in London; restate them with care.