PMTUD details

In draft-ietf-quic-transport-03, Section 9:

   All QUIC packets SHOULD be sized to fit within the estimated PMTU to
   avoid IP fragmentation or packet drops.  To optimize bandwidth
   efficiency, endpoints SHOULD use Packetization Layer PMTU Discovery
   ([RFC4821]) and MAY use PMTU Discovery ([RFC1191], [RFC1981]) for
   detecting the PMTU, setting the PMTU appropriately, and storing the
   result of previous PMTU determinations.

There are details in the method described in RFC 4821 that needs to have explicit description of how the method is applied in QUIC. This includes, format of probing packets, loss response, additional challenge of ICMP feedback. 

@martinduke, do you think that you could take a look at this?

Yes.

On Thu, Jun 8, 2017 at 6:16 AM, Martin Thomson <notifications@github.com>
wrote:

> @martinduke <https://github.com/martinduke>, do you think that you could
> take a look at this?
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/quicwg/base-drafts/issues/614#issuecomment-307099759>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AXRMEcpdFLVMOKlo-uRjLs-xKie14i1Tks5sB_QdgaJpZM4Nzw4A>
> .
>


Hi Magnus,

I agree that some language about probe packets would be useful and there will be a PR shortly. This will also incorporate some advice about loss response. I would very much like @ianswett to consolidate the various actions to take upon loss detection in that document, but that's another issue.

As for "challenges with ICMP feedback", the section "Special Considerations for PMTU Discovery" is specifically meant to address this. What is that missing?

Is there anything else you'd like to see here?

I had another look at my RFC4821 notes. Here are some observations:
- In my opinion, someone familiar with other aspects of QUIC can read RFC 4821 and implement PLPMTUD with no more difficulty than they would with TCP or SCTP. So strictly speaking, no additional text in the QUIC spec is necessary.
- Section 6 discusses necessary protocol properties, and QUIC has them. Section 6 specifically mentions padding as a nice-to-have. PR #849, in its current state, makes this explicit.
- It would be possible to state explictly that search_low (7.2) should be the IPv6 minimum packet size, as that is the minimum size in QUIC. However, I personally find this redundant.
- It is possible to recommend an aggressive probe sizing strategy (7.3) since QUIC probe retransmissions are unnecessary. Again, I find this redundant.

I believe the current PR adequately cues the reader on relevant considerations without laboriously repeating RFC 4821. I am also persuadable that the original text is fine and the PR is unnecessary. However, I am interested if others find the current language, in conjunction with 4821, to be insufficient, and if so what pieces are ambiguous.

@martinduke I have also re-read RFC 4821. And I first of all I think being explicit on the things you consider redundant is the better approach. This from the aspect, that if we can spend time to write a sentence or two, and save time and get more consistent behavior from implementations it is well spent time in my view. 

Additional issues worth discussing in the text are:

- ICMP verification for any received Message to too Big (Not only relevant for PMTUD). This is likely rather straightforward, but do require the QUIC implementation to be able to match the truncated part of the encrypted QUIC packet against itself. This likely implies storing X number of bytes of the encrypted packet for this verification. Or will we actually use any encryption that will be able to perform partial decryption and use that to verify that these initial bytes matches valid QUIC headers?
  
- Issues with setting DF bit from user land (as SHOULD requirement) in 4821. It is somewhat discussed in RFC4821, but clearly an issue for many QUIC implementations. What advancements since 4821 is it worth bringing up here? 

- Storage and reuse of PMTUD information in stack instance releated to differnet paths. Applies for multi-path as well as implementations opening a number of connections. At a minimum a clear definition of what QUIC semantics corresponds to a path, and thus can have different MTU values.
 
- For user-land QUIC implementation it can actually be a bit of a challenge to correctly know how much headers would be added. A challenging example would be QUIC over ICE in a WebRTC context. Where it is actually the ICE stack that controlls which path and what headers and NAT/FW traversal mechanism are in place, such as TURN that changes the header overhead between candidate pairs. This is in relation to RFC 4821 Section 5.1. 
 

@gloinul, Responses inline:

> @martinduke I have also re-read RFC 4821. And I first of all I think being explicit on the things you consider redundant is the better approach. This from the aspect, that if we can spend time to write a sentence or two, and save time and get more consistent behavior from implementations it is well spent time in my view.

Fair enough. Expect a revised PR #849 shortly.
> 
> Additional issues worth discussing in the text are:
> 
> ICMP verification for any received Message to too Big (Not only relevant for PMTUD). This is likely rather straightforward, but do require the QUIC implementation to be able to match the truncated part of the encrypted QUIC packet against itself. This likely implies storing X number of bytes of the encrypted packet for this verification. Or will we actually use any encryption that will be able to perform partial decryption and use that to verify that these initial bytes matches valid QUIC headers?

I believe these considerations have long been addressed in "Special considerations for PMTU Discovery".

> Issues with setting DF bit from user land (as SHOULD requirement) in 4821. It is somewhat discussed in RFC4821, but clearly an issue for many QUIC implementations. What advancements since 4821 is it worth bringing up here?

I acknowledge that user-land QUIC implementations may have issues, but I am utterly at a loss as to what to say about it. Can you suggest some text?

> 
> Storage and reuse of PMTUD information in stack instance releated to differnet paths. Applies for multi-path as well as implementations opening a number of connections. At a minimum a clear definition of what QUIC semantics corresponds to a path, and thus can have different MTU values.

In the existing text, it says: 
"QUIC endpoints that implement any kind of PMTU discovery SHOULD maintain an
estimate for each combination of local and remote IP addresses (as each pairing
could have a different maximum MTU in the path)."
Is that insufficient, in your view?
 
> For user-land QUIC implementation it can actually be a bit of a challenge to correctly know how much headers would be added. A challenging example would be QUIC over ICE in a WebRTC context. Where it is actually the ICE stack that controlls which path and what headers and NAT/FW traversal mechanism are in place, such as TURN that changes the header overhead between candidate pairs. This is in relation to RFC 4821 Section 5.1.

Again, I recognize the problem but am at a loss for what to write. Can you suggest text?

The net effect of running on top of ICE, without access to the path selection that ICE is performing, is likely that you end up with the lowest common path MTU over time.  It's the same thing as what you get when there is a router that picks different paths through the network without you being aware of it.  The MTU you see isn't constant over time, so you likely end up with the lowest value (assuming that you don't ever fixate on a particular value after having observed that value working).

I will try to write some text around the user land setting of DF bit. It will probably take 2 weeks. 

When it comes to ICE, I think @martinthomson is correct what would happen in a naive implementation.  What I would add beyond a general suggestion is that an ICE implementation should actually notify the higher layers upon known path changes so QUIC can actually perform the right path changes functions.

@gloinul Any progress on this? I would like to resolve this issue.

@martinduke Thanks for reminding me. Can you look at the pull request that I have generated. Good if you can also resolve the build issue that appears to exist. 

@gloinul when we submit the PR, are you satisfied to close this issue?

Closing on request for @martinduke 

Yes, I am fine with the closing of this issue. 