Add text on flow control deadlocks

For a new revision of transport, it would be good to have general guidance text about flow control deadlocks.  The best reference we have today is the somewhat specific text in [Section 2.1.3 of RFC 9204](https://datatracker.ietf.org/doc/html/rfc9204#section-2.1.3) and that isn't very satisfactory.  This has come up a few times in discussions about APIs for WebTransport, which replicates a lot of the QUIC stream mechanics.

WebTransport seems like the prime target audience for the applicability draft. [Section 4.4](https://www.rfc-editor.org/rfc/rfc9308.html#name-flow-control-deadlocks) is titled "Flow Control Deadlocks" and is ~500 words.

So a few of questions:

1. Is the text in RFC 9308 sufficiently descriptive? (i.e., does it address the OP issue)
2. We could consider porting the text or referencing it in rfc900-bis work. However, if its current content and location is fine, can we close this?
3. There may be some interplay between streams and datagrams (not flow controlled, but competition for congestion control, which can impact flow control). Would that be in scope of this issue, or something to track separate?



Oh, I forgot about that.  I think that I wrote it, even.  A pointer might be all that is needed then.

Here's some archaeology for you, your original PR 5 years ago - https://github.com/quicwg/base-drafts/pull/1927